import '{{serviceNameFileInterface}}.{{serviceExtensionInterface}}';

class {{serviceNameClass}} implements {{serviceNameClassInterface}} {
  @override
  Future<void> call() {
    // TODO: implement call
    throw UnimplementedError();
  }
}
  