import '../../{{repositoryPathInterface}}/{{repositoryNameFileInterface}}.{{repositoryExtensionInterface}}';

class {{repositoryNameClass}} implements {{repositoryNameClassInterface}} {
  @override
  Future<void> call() {
    // TODO: implement call
    throw UnimplementedError();
  }
}
  
  