import '{{usecaseNameFileInterface}}.dart';

class {{usecaseNameClass}} implements matatatatara {
  @override
  Future<void> call() {
    // TODO: implement call
    throw UnimplementedError();
  }
}
  