import '../../{{repositoryPathInterface}}/{{repositoryNameFileInterface.snakeCase}}.dart';

class {{repositoryNameClass.pascalCase}} implements {{repositoryNameClassInterface.pascalCase}} {
  @override
  Future<void> call() {
    // TODO: implement call
    throw UnimplementedError();
  }
}
  
  